.app-archive-page{
    h2{
        font-size:30px;
        font-weight:500;
        color:#000;
        border-bottom:1px solid #999;
        margin-bottom:30px;
    }

    article{
        margin-bottom:50px;

        h3{
            position:relative;
            font-size:1.8rem;
            font-weight:500;
            padding-left:25px;
            padding-bottom:3px;
            
            &:after{
                content:"";
                position:absolute;
                top:9px;
                left:0;
                width:10px;
                height:10px;
                border:4px solid #bbb;
                border-radius:100%;
                background:#fff;
                z-index:12;
            }
        }

        ul{
            li{
                position:relative;
                padding-left:25px;
                padding-top:15px;

                b{
                    display:block;
                    font-size:1.15rem;
                    font-weight:500;
                }
            
                &::before{
                    content:"";
                    position:absolute;
                    top:-26px;
                    left:7px;
                    width:4px;
                    height:55px;
                    background:#ddd;
                    z-index:10;
                }

                &:after{
                    content:"";
                    position:absolute;
                    top:21px;
                    left:4px;
                    width:10px;
                    height:10px;
                    border-radius:100%;
                    background:#bbb;
                    z-index:11;
                }
            }
        }
    }
}

@media all and (min-width:768px) {
    .app-archive-page{
        article{
            h3{
                font-size:28px;
                padding-left:30px;
                padding-bottom:5px;
                
                &:after{
                    top:14px;
                }
            }
    
            ul{
                li{
                    padding-left:30px;
                    padding-top:20px;
    
                    b{
                        font-size:16px;
                    }
                
                    &::before{
                        top:-30px;
                        height:60px;
                    }
    
                    &:after{
                        top:28px;
                    }
                }
            }
        }
    }
}

@media all and (min-width:900px) {
    .app-archive-page{
        h2{
            font-size:35px;
            padding-bottom:10px;
        }
    }
}